html, body{
    border: 0;
    margin: 0 auto;
    padding: 0;
}

#calculator{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-top: 10%;
    border: solid 2px silver;
}

    .screen{
        background-color: silver;
        display: block;
        height: 80px;
        width: 400px;
        font-size: 40px;
        text-align: right;
        color: white;
        line-height: 80px;
    }
   
    .pad{
        background-color: silver;
        display: inline;
        float: left;
        width: 300px;
    }
     .pad-number{
         width: 100px;
         display: inline;
         float: left;
         background-color: white;
         color: black;
         font-size: 40px;
         line-height: 80px;
         /*border: solid 1px #cacaca;*/
         box-shadow: inset 0 0 0 1px #cacaca;
         text-align: center;
         height:80px;
     }
    .operators{
        width: 100px;
        height: 320px;
        display: inline;
        float: left;
        background-color: cyan;
    } 

    .operator{
        display: inline;
        float: left;
        background-color: white;
        color: black;
        font-size: 40px;
        line-height: 80px;
        box-shadow: inset 0 0 0 1px #cacaca;
        text-align: center;
        height: 80px;
        width: 100px;
    }
    #op_igual{
        position: relative;
        right: 100px;
        bottom: 80px;
    }
    #op_clear{
        position: relative;
        right: 200px;
        bottom: 160px;
    }
    .operator:hover{
        background-color:  lightgrey;
    }
    .pad-number:hover{
        background-color:  lightgrey;
    }